.footer {
    background-color:   #0b0c10;

    &__container {
        min-height: 80px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__text {
        color: #c5c6c7;
        margin-bottom: 10px;

        &:not(:last-child) {
            font-size: 18px;
        }
    }

    &__link {
        color: #45a29e;

        &:focus {
            text-decoration: underline;
        }

        &:hover {
            color: #66fcf1;
        }
    }
}
