.about {
    background-color: #0b0c10;
    &__wrapper {
        margin-top: 20px;
    }

    &__button-block {
        background-color: #0b0c10;
        padding-left: 20px;
    }

    &__button {
        padding: 3px;
        color: #45a29e;
        background-color: inherit;

        &:hover {
            color: #66fcf1;
        }

        &:focus {
            border-bottom: 1px solid #66fcf1;
            padding-bottom: 2px;
        }

        &:active {
            color: #c5c6c7;
        }
    }

    &__title {
        font-size: 32px;
        color: #c5c6c7;
        padding: 20px 25px 10px;
        background-color: #0b0c10;
        max-width: 500px;
        margin: 0 auto;
    }

    &__vinyl {
        @extend %min-height;
        background-color: #0b0c10;
    }

    &__options {
        @extend %min-height;
        background-color: rgba(255, 255, 255, 0.9);
    }

    &__style {
        @extend %min-height;
        background-color:rgba(255, 255, 255, 0.9);
    }

    &__result {
        @extend %min-height;
        background-color: #0b0c10;
    }

    &__prototype {
        @extend %min-height;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

%min-height {
    min-height: 200px;
}

.vinyl {
    &__container {
        padding: 30px 50px 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__title {
        color: #45a29e;
    }

    &__text-container {
        padding-top: 15px;
        max-width: 550px;
    }

    &__text {
        color: #c5c6c7;
        text-align: center;
    }
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 125%;
}

.options {
    &__title {
        color: #0b0c10;
        text-align: left;
        margin: 20px;
    }

    &__text-container {
        max-width: 550px;
        padding: 10px 15px 40px;
    }

    &__text {
        margin: 10px;
    }

    &__img-block {
        background: url('../../../img/vinyl-record.jpg') top / cover no-repeat;
        max-width: inherit;
        height: 300px;
    }
}

.style {
    &__title {
        color: #0b0c10;
        text-align: right;
        padding: 30px 30px 0px;
        margin-left: 70%;
    }

    &__text-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    &__text {
        text-align: right;
        max-width: 500px;
        padding: 30px;
    }

    &__img-block {
        background: url('../../../img/records-style.jpg') bottom / cover no-repeat;
        max-width: inherit;
        height: 420px;
    }
}

.result {
    &__title {
        padding: 20px 10px;
        color: #45a29e;
        margin: 0 auto;
    }

    &__text-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        align-content: center;
        padding: 40px 20px;
    }

    &__text-wrapper {
        max-width: 500px;
        align-self: center;
        margin: 10px;
    }

    &__text {
        color: #c5c6c7;
        padding: 20px;
    }

    &__img-block {
        order: -1;
        align-self: center;
        margin: 20px;
        position: relative;

        &::after, &::before {
            content: '';
            width: 350px;
            height: 200px;
            position: absolute;
            border: 6px solid white;
            border-radius: 3px;
            box-sizing: content-box;
            box-shadow: 2px 2px 5px rgba(197, 198, 199, .2);
        }

        &::before {
            background: #45a29e url('../../../img/vinyl-record.jpg') center / cover no-repeat;
            top: -5px;
            left: -20px;
            transform: rotate(-8deg);
        }

        &::after {
            background: #45a29e url('../../../img/records-style.jpg') center / cover no-repeat;
            top: 5px;
            left: 10px;
            transform: rotate(8deg);
        }
    }

    &__img {
        width: 350px;
        height: 200px;
        display: block;
        box-sizing: content-box;
        border: 6px solid white;
        border-radius: 3px;
        box-shadow: 2px 2px 5px rgba(197, 198, 199, .2);
        position: relative;
        z-index: 1;
    }
}

.prototype {
    &__title {
        color: #0b0c10;
        text-align: left;
        padding: 30px 30px 0px;
    }

    &__text-container {
        max-width: 500px;
        padding: 30px;
    }

    &__text {
        padding: 10px;
    }
}

@media (max-width: $mobile-xl) {
    .about {
        &__button {
            font-size: 20px;
        }

        &__title {
            font-size: 18px;
        }
    }

    .result {
        &__img-block {
            &::after, &::before {
                width: 250px;
            }
        }

        &__img {
            width: 250px;
        }
    }

    %text-align{
        text-align: center;
    }

    .options {
        &__title {
            @extend %text-align;
        }
    }

    .style {
        &__title {
            @extend %text-align;
            margin-left: 0;
        }
    }

    .prototype {
        &__title {
            @extend %text-align;
        }
    }

    .text {
        @extend %text-align;
        font-size: 14px;
    }
}

@media (max-width: $mobile-m) {
    .result {

        &__img-block {
            &::after, &::before {
                width: 200px;
            }
        }
        &__img {
            width: 200px;
        }
    }
}