.main {

    &__album {
    }
}
.album {

    &__container {
        box-sizing: content-box;
        height: inherit;
        margin-top: 50px;
        padding-bottom: 20px;
    }

    &__title {
        padding-top: 20px;
    }

    &__wrapper {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        display: block;
        width: 200px;
        height: 200px;
        border: 5px solid #ee9a2ce8;
        border-radius: 5px;
    }

    &__hiphop {
        margin: 15px;
    }

    &__record {
        width: 200px;
        height: 200px;
    }

    &__pop {
        margin: 15px;
    }
}

.hiphop {
    &__block-img {
        position: relative;
    }

    &__img {
        position: relative;
        z-index: 5;
        cursor: pointer;

        &:hover {
            opacity: .9;
        }
    }

    &__record {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        // animation: recordMove 1.5s infinite linear;
    }
}

@keyframes recordMove {
    0% {
        left: 0px;
    }
    100% {
        left: 50px;
    }
}

.pop {
    &__block-img {
        position: relative;
    }

    &__img {
        position: relative;
        z-index: 5;
        cursor: pointer;

        &:hover {
            opacity: .9;
        }
    }

    &__record {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        // animation: recordMove 1.5s linear;
    }
}

@media (max-width: $mobile-l) {
    .album {
        &__container {
            padding: 10px 0px;
        }

        &__wrapper {
            max-width: 250px;
        }

        &__img  {
            width: 150px;
            height: 150px;
        }

        &__record{
            width: 150px;
            height: 150px;
        }
    }
}

