.main {
    background: #ee9a2ce8 url("../img/bgr.jpg") center / cover no-repeat;
		&__container {
		}
		
		&__note {
		}

		&__vinil-record-player {
            margin: 10% 25%;
			padding-bottom: 140px;
		}
        
        &__sound-list {
		}
}

.title {
	font-family: "SyneMono", "PT Mono", monospace;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 105%;
}

#player  {
	
}
@media (max-width: $tablet) {
	.main {
		&__vinil-record-player {
			margin: 10% 15%;
		}
	}
}
