.main {
    background: #c5c6c7 url("../img/bgr.jpg") center / cover no-repeat;
		&__container {
		}
		
		&__note {
		}

		&__recor-wrapper {
			max-width: 1000px;
			padding-bottom: 10%;
            margin: 0 auto;
		}

		&__vinil-record-player {
			margin: 15% 25% 5%;
		}
        
        &__sound-list {
		}
}

.title {
	font-family: "SyneMono", "PT Mono", monospace;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 105%;
}

#player  {
	
}

@media (max-width: $laptop) {
	.main {
		&__vinil-record-player {
			margin: 25% 20% 5%;
		}
	}
}

@media (max-width: $tablet) {
	.main {
		&__vinil-record-player {
			margin: 10% 15%;
		}
	}
}
