.main {
    background: #c5c6c7 url("../img/bgr.jpg") top / cover no-repeat;
		&__container {
		}
		
		&__banner {
		}
		
		&__note {
		}

		&__record-wrapper {
    

			max-width: 1000px;
			padding-bottom: 10%;
            margin: 0 auto;
		}

		&__vinil-record-player {
			margin: 15% 25% 5%;
		}
        
        &__sound-list {
		}
		
		&__about {
		}
}

.title {
	font-family: 'ReggaeOne','Lato', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 105%;
}


@media (min-height: 600px) {
	.main {
		&__record-wrapper {
			padding-bottom: 35%;
		}
	}
}

@media (max-height: 650px) {
	.main {
		&__record-wrapper {
			padding-bottom: 35%;
		}
	}
}

@media (max-width: $laptop) {
	.main {
		
		&__vinil-record-player {
			margin: 25% 20% 5%;
		}
	}
}

@media (max-width: $tablet) {
	.main {
		&__vinil-record-player {
			margin: 10% 15%;
		}
	}
}
