.note {

    &__container {
        position: relative;
    }

    &__img {
        width: 45px;
        height: 60px;
        margin: 10px;
        position: relative;
    }

    &__img-left {
        &:nth-child(1) {
            animation-delay: 0.1s;
        }
        &:nth-child(2) {
            margin-top: 45px;
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            margin-top: 85px;
            animation-delay: 0.3s;
        }
    }

    &__img-right {
        &:nth-child(1) {
            margin-top: 95px;
            animation-delay: 0.4s;
        }

        &:nth-child(2) {
            margin-top: 55px;
            animation-delay: 0.5s;
        }

        &:nth-child(3) {
            margin-top: 55px;
            animation-delay: 0.6s;
        }
    }
}

.container {

    &__left {
    position: absolute;
    top: 0;
    left: 20%;
    }

    &__right {
    position: absolute;
    top: 0;
    left: 65%;
    }
}

.hidden {
    display: none;
}


.dance-scale {
    animation: dance-scale 0.3s ease infinite alternate;
}

@keyframes dance-scale {
    100% {
        top: -20px;
    }
}

@media (max-width: $laptop-l) {
    .container {
        &__left {
            top: 20px;
            left: 10%;
        }

        &__right {
            top: 20px;
            left: 70%;
        }
    }
}

@media (max-width: 900px) {
    .container {
        %noteposition {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-direction: column;
        }

        &__left {
            @extend %noteposition;
            left: 5%;
        }

        &__right {
            @extend %noteposition;
            left: 80%;
        }
    }

    .note {
        &__img-left {
            margin-top: 20px;

            &:nth-child(2) {
                margin-top: 0;
            }
    
            &:nth-child(3) {
                margin-top: 0;
            }
        }
    
        &__img-right {
            margin-top: 20px;
            &:nth-child(1) {
                margin-top: 0;
            }
    
            &:nth-child(2) {
                margin-top: 0;
            }

            &:nth-child(3) {
                margin-top: 15px;
            }
        }
    }
}

@media (max-width: $mobile-l) {
    .note {
        &__img {
            width: 25px;
            height: 40px;
        }

        &__img-left {
            margin-top: 80px;
            margin-bottom: 40px;
        }

        &__img-right {
            &:nth-child(1) {
                margin-top: 80px;
                margin-bottom: 35px;
            }

            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }
    }
}