
.sound-list {

	&__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 30px;
	}

	&__list {
      margin: 50px 0px 10px 0px;
      background-color: #1f2833;
      border-radius: 10px;
      padding: 10px 20px;
      position: relative;
	}

	&__item {
      font-family: "SyneMono", "PT Mono", monospace;
      color: #c5c6c7;
      font-size: 16px;
      line-height: 105%;
      padding-bottom: 15px;
      text-decoration: underline;

            &:first-child {
            text-decoration: none;
            }
      }
}

.title {
      color: #45a29e;
}

@media (max-width: $mobile-l) {
      .sound-list {
            &__container {
                  padding: 10% 20%;
            }

            &__list {
                  max-width: 200px;
            }

            &__item {
                  font-size: 14px;
            }
      }
}

@media (max-width: $mobile-s) {
      .sound-list {
            &__container {
                  justify-content: flex-start;
            }
      }
}