
.sound-list {

	&__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 30px;
	}

	&__list {
      margin: 50px 0px 10px 0px;
      background-color: #1f2833;
      border-radius: 10px;
      padding: 10px 20px;
      position: relative;
	}

	&__item {
      font-family: "SyneMono", "PT Mono", monospace;
      color: #c5c6c7;
      font-size: 16px;
      line-height: 105%;
      padding-bottom: 15px;
      text-decoration: underline;

            &:first-child {
            text-decoration: none;
            }
      }

      &__title {
            text-align: center;
            color: #45a29e;
            font-size: 20px;
      }
}

.active-sound {
      animation: blink 3s linear infinite;
}

@keyframes blink {
      0% { color: rgba(69, 162, 158, 1); }
      50% { color: rgba(69, 162, 158, 0); }
      100% { color: rgba(69, 162, 158, 1); }
}

@media (max-width: $mobile-xl) {
      .sound-list {
            &__container {
                  padding: 10% 15%;
            }

            &__list {
                  max-width: 200px;
            }

            &__item {
                  font-size: 14px;
            }
      }
}

@media (max-width: $mobile-s) {
      // .sound-list {
      //       &__container {
      //             justify-content: flex-start;
      //       }
      // }
}